<div class="container">

    <br><br><br>


    <!--
        
        אנגולר תרגול סטיילים וקלאסים

        מודול: פיתוח אתרים דינמיים עם Angular

        פתוח להגשה מתאריך: 21 במרץ 2022

        מועד אחרון להגשה: חמישי, 31 במרץ 2022 22:00, Asia/Jerusalem

    -->
    
    <app-user-details></app-user-details>



    <!-- 
        
        <app-styling></app-styling>

     -->




    <!-- 
        
        <app-menu></app-menu><app-user-details></app-user-details>
    
        <app-dog-or-cat></app-dog-or-cat>

        <app-application-form></app-application-form>

     -->




    <!-- 

        <app-counter></app-counter>
        
        <app-copyright></app-copyright>
        <app-login></app-login>
        <app-simple-button></app-simple-button>
        
        <app-some-events></app-some-events>
        
    -->


</div>