<br><br>
<h1>Hello</h1>
<h4 [style.color]="isSpecial ? 'red' : 'black'" >Someone is special</h4>

<p [style.font-size]="isSpecial ? '40px' : '15px'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi perferendis, odit nihil magnam ipsum at, doloribus animi quia magni, vero tempora nulla distinctio recusandae! Sequi assumenda aspernatur ratione dolores consequuntur?</p>

<hr>
<p  [ngStyle]="calculatedStyle" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ducimus. Quos, quam aliquam repudiandae quas iste nostrum, nemo fuga at eos dolore cum sint beatae nisi sit enim ex? In?</p>

<h1  [class.specialPerson]="isSpecial" >Now - let's work with classes :-) </h1>
<p  [ngClass]="calculatedClasses" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt minima corporis ad nihil eius id cupiditate, reiciendis sint eos sed commodi ullam. Eum enim ad incidunt dolore. Voluptatum, facilis incidunt.</p>
